<h3>Listado de Héroes:</h3>



<div *ngIf="deleteHero; else nothingwasdeleted">
  <h4>Héroe borrado <small class="text-danger"> {{ deleteHero }}</small></h4>
</div>

<ng-template #nothingwasdeleted>
  <h4>No ha borrado nada!!</h4>
</ng-template>


<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  type="button" class="btn btn-outline-danger">
  Borrar último heroe!
</button>


<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
    class="list-group-item">
    {{ name }}
  </li>
</ul>
